.slider {
    position: relative;
    max-height: 600px;
    overflow: hidden;
    top: 60px;
    margin-bottom: 100px;
    background-position: bottom;

}

.slider_img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  
}

.slider_line {
    display: flex;
    align-items: center;
    transition: all 1s;
}

.slider_btn-prev {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    background-color: transparent;
    border: none;
}

.slider_btn-next {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.slider_wrapper {
    display: flex;
    column-gap: 15px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.slider_dot {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.slider_dot:hover {
    cursor: pointer;
    background-color: white;
}

.active-dot {
    background-color: white;
}

.slider_btn-next img,
.slider_btn-prev img {
    width: 30px;
}

.slider_btn-prev,
.slider_btn-next :hover{ 
    cursor: pointer;
}


@media (max-width: 990px) {
    .slider_img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .slider_btn-next,
    .slider_btn-prev {
        width: calc(20px + (50-20) * ((100vw - 320px) / (850 - 320)))
    }

    .slider_dot {
        width: calc(10px + (16-10) * ((100vw - 320px) / (850 - 320)));
        height: calc(10px + (16-10) * ((100vw - 320px) / (850 - 320)));
    }

    .slider_wrapper {
        column-gap: calc(15px +(10-5) * ((100vw - 320px) / (850-320)));
    }
}