.photo_item {
    position: relative;
    display: inline-block;
    width: 18.3%;
    margin-bottom: 20px;
    margin-right: 20px;
    min-width: 310px;
    min-height: 310px;
    vertical-align: top;
    overflow: hidden;
    border-radius: 2px;
    font-size: 0;
}

.photo_item>img.picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}


.photo_item>.photo_block-item {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: no-repeat;
    background-size: 100% 100%;
    opacity: 0.85;
    z-index: 1;

    transition: opacity 0.3s;
}

.photo_item:hover>.photo_block-item {
    opacity: 0;
}

.photo_item>.photo_item_title {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;

    padding: 30px 10px;
    box-sizing: border-box;
    background: rgba(108, 214, 70, 0.0);
    font-family: Arial;
    letter-spacing: normal !important;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    z-index: 2;
    transition: 0.3s;
}

.photo_item:hover>.photo_item_title {
    background: rgba(108, 214, 70, 0.6);
}

@media (max-width:1550px) {
    .photo_item {
        width: 23%;
    }
}

@media (max-width:1260px) {
    .photo_item {
        width: 31.2%;
    }
}

@media (max-width:970px) {
    .photo_item {
        width: 45%;
    }
}

@media (max-width:550px) {
    .photo_item {
        width: 92%;
    }
}