.photo_item_container { 
    margin-bottom: 80px;
}

.photo_list_item {
    color: #515151;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    transition: all .3s;
   border-radius: 3px;
    padding: 10px;
   
}

.photo_list_item:hover{
    background: rgba(108, 214, 70, 0.6);
    cursor: pointer;
    
}

.photo_list_item img {
    width: 40%;
    height: 200px;
    float: right;
 
}

.photo_list_item.even {
    flex-direction: row-reverse;
  }

.photo_list_item span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    width: 60%;
   
    /* Adjust the width to leave space for the image */
}

@media (max-width: 768px) {
    .photo_list_item.even {
        flex-direction: column;
      }
    
    .photo_list_item {
        flex-direction: column;
    }
  
    .photo_list_item img {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
  
    .photo_list_item span {
        width: 100%;
    }
}